*{
    margin : 0;
    padding : 0;
    font-family: 'Ubuntu', sans-serif;
  }

  body{

    background-image: url("front.png");
    background-size: 1200px;
    background-repeat: no-repeat;
    }

#hello{
    background-color: white;

}

.ls-0_5{
letter-spacing: 0.5px;
}

form.form_container {
display: table;
}

div.form_container {
display: table-row;
}

label, input {
display: table-cell;
margin-bottom: 15px;
}

label {
padding-right: 10px;
}

#container_connexion{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    margin-left: 300px;
    margin: auto;
    max-width: 300px;
    max-height: 400px;

    border: 1px solid #FFFFFF;
   
    display: block;
}

.connexion_button{
    padding: 2px;
}