*{
margin: 0;
padding: 0;
font-family: 'Ubuntu', sans-serif;
}

body{
	background: url(./background_starwars.png);
	background-repeat: repeat;
}

.page{
	margin-top: 70px;
}

.banniere{
	display: block;
}

/*.bloc{

}

.explications{

}

.scratch{

}

.commandes{

}

.conclusion{

}*/