*{
margin: O;
padding: 0;
font-family: 'Ubuntu', sans-serif;
}

body{
	background: url(./background_starwars.jpg);
	background-repeat: repeat;
}

.page{
	margin-top: 70px;
}

.contours{

}

.banniere{

}

.bloc{

}

.explications{

}

.scratch{

}

.commandes{

}

.conclusion{

}

